* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--color-text-light) var(--color-bg-light);
}

:root {
  --color-bg: #f0f0f0;
  --color-bg-light: #ffffff;
  --color-bg-dark: #dedede;
  --color-text: #333;
  --color-text-light: #4a4a4a;
  --color-primary: #0078d4;
  --color-secondary: #2b88d8;
  --color-accent: #d40078;
  --color-accent-light: color-mix(in srgb, var(--color-accent), white 30%);
  --color-accent-dark: color-mix(in srgb, var(--color-accent), black 30%);
  --color-border: #ccc;
  --sidebar-width: 16rem;
  --color-danger: #e81123;
  --color-danger-dark: color-mix(in srgb, var(--color-danger), black 30%);
  --color-success: #107c6f;
  --color-warning: #ffb900;
  --color-modal-overlay: color-mix(in srgb, var(--color-bg-dark), transparent 30%)

  /* for codeeditor */
  --color-string: color-mix(in srgb, var(--color-secondary) 50%, var(--color-accent) 50%);
  --color-number: var(--color-accent);
  --color-property: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1e1e1e;
    --color-bg-light: #252526;
    --color-bg-dark: #141414;
    --color-text: #d4d4d4;
    --color-text-light: #b6b6b6;
    --color-primary: #007acc;
    --color-secondary: #569cd6;
    --color-accent: #cc007a;
    --color-accent-light: color-mix(in srgb, var(--color-accent), white 30%);
    --color-accent-dark: color-mix(in srgb, var(--color-accent), black 30%);
    --color-border: #555;
    --color-danger: #e81123;
    --color-danger-dark: color-mix(in srgb, var(--color-danger), black 30%);
    --color-success: #107c10;
    --color-warning: #ffb900;
    --color-modal-overlay: color-mix(in srgb, var(--color-bg-dark), transparent 30%);

    /* for codeeditor */
    --color-string: color-mix(in srgb, var(--color-secondary) 50%, var(--color-accent) 50%);
    --color-number: var(--color-accent);
    --color-property: var(--color-primary);
  }
}

html,
body {
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}

#app {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
}

input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-bg-light);
  outline: none;
  border-radius: 0.4rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--color-border);
  }
}

select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-bg-light);
  outline: none;
  border-radius: 0.4rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--color-border);
  }
}

label:has(input), label:has(select) {
  display: flex;
  flex-direction: column;
  color: var(--color-text-light);
  font-size: 0.875rem;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
  }

  &:disabled:hover {
    background-color: var(--color-primary);
  }

  &.btn--light {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
  }

  &.btn--light:hover {
    background-color: var(--color-bg-dark);
  }

  &.btn--danger {
    background-color: var(--color-danger);
    color: var(--color-text);
  }

  &.btn--danger:hover {
    background-color: var(--color-danger-dark);
    color: var(--color-text);
  }

  &.btn--bg-hover:hover {
    background-color: var(--color-bg);
  }

  &.btn--secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);
  }

  &.btn--secondary:hover {
    background-color: var(--color-primary);
  }

  &.btn--accent {
    background-color: var(--color-accent);
    color: var(--color-text);
  }

  &.btn--accent:hover {
    background-color: var(--color-accent-dark)
  }
}

.unstyled-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-align: left;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.pill {
  padding: 0.25rem 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.875rem;
  color: var(--color-text);
  background-color: var(--color-bg-light);
  transition: background-color 0.3s ease;

  &.pill--primary {
    background-color: var(--color-primary);
  }

  &.pill--secondary {
    background-color: var(--color-secondary);
  }

  &.pill--accent {
    background-color: var(--color-accent);
  }

  &.pill--success {
    background-color: var(--color-success);
  }

  &.pill--danger {
    background-color: var(--color-danger);
  }

  &.pill--sm {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}

button.pill {
  transition: filter 0.3s ease;
}

button.pill:hover {
  filter: brightness(0.8);
}

@media (prefers-color-scheme: dark) {
  button.pill:hover {
    filter: brightness(1.3);
  }
}
